@use "../abstract/function" as func;
@keyframes colorChange {
  0% {
    color: red;
  }
  25% {
    color: func.theme-color("primary");
  }
  50% {
    color: greenyellow;
  }
  75% {
    color: palevioletred;
  }
  100% {
    color: skyblue;
  }
}

@keyframes box-shape {
  0% {
    transform: rotate(0deg);
  }
   100% {
    transform: rotate(360deg);
  }
}

@keyframes rorate-infinite{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}